{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 43.21022753567914,
        "longitude": -90.55269598960878,
        "elevation": 215,
        "unit_system": "imperial",
        "location_name": "Auk River",
        "time_zone": "America/Chicago",
        "external_url": null,
        "internal_url": null
    }
}